:root {
    --dark: #1F2937;
    --light: #F9FAF8;
    --secondary: #E5E7EB;
    --accent: #3882F6;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-hero, .header, .footer, .hero {
    background-color: var(--dark);
    color: var(--light);
}

.header {
    display: flex;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: var(--light);
    font-weight: bold;
    margin-right: auto;
}

.header-hero {
    padding: 0 12%;
}
@media (max-width: 1000px) {
    .header-hero {
        padding: 0 4%;
    }
}

.header-links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 32px;
    padding-bottom: 16px;
}
.hero-left, .hero-right {
    flex: 1 1 250px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
}
.subtitle {
    margin: 20px 0 ;
}
.button {
    background-color: var(--accent);
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    display: inline;
}

.images-heading {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark);
    text-align: center;
}

.cards {
    
}

img {
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}